@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-drag:none;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #000;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.header .title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    text-align: center;
}


.header p {
    font-size: 28px;

    text-align: center;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p img {
    margin-right: 10px;
}

.header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.chat-container {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}

.input-holder{
    position: absolute;
    bottom: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.input-holder .input-box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-holder .input-box input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 2rem 0 1rem;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
}

.input-holder .input-box button{
    position: absolute;
    right: 10px;
    top: 1px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-holder .input-box button img{
    width: 35px;
    height: 40px;
}