@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: white;
    --sidebar-color: #fff;
    --primary-color: #8ACBF5;
    --primary-color-light: white;
    --toggle-color: #8ACBF5;
    --text-color: grey;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #000;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.header .title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    text-align: center;
}


.header p {
    font-size: 28px;

    text-align: center;
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p img {
    margin-right: 10px;
}

.header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.chat-container {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}

.message-enter-from {
    opacity: 0;
    transform: translateY(20px);
}

.message-enter-active {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.input-holder {
    position: absolute;
    background-color: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
    padding-bottom: 20px;
    bottom: 70px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.input-holder .input-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-holder .input-box input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 1rem 2rem 1rem 0;
    font-size: 16px;
    outline: none;
    margin-left: 10px;
}

.input-holder .input-box button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-holder .input-box button img {
    width: 35px;
    height: 40px;
}


.side-bar .text {
    font-size: 16px;
    font-weight: 500;
}

.side-bar .img {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #E9E9E9;
    transition: var(--tran-03);
}

.side-bar .image-text .img img {
    width: 100px;
    border-radius: 10px;
    left: 10px;
    padding: 20px;
}

.side-bar header .image-text {
    display: flex;
    align-items: center;

}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-size: 32px;
    font-weight: 500;
}

.side-bar header .toggle {
    position: absolute;
    top: 60px;
    right: -15px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background: var(--toggle-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 25px;
}

.side-bar header .toggle .toggle-img{
     transition: var(--tran-03);
}
.side-bar header .toggle:hover .toggle-img{
     margin-bottom: 5px;
     transform: rotate(180deg);
}

.side-bar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.side-bar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 25px;
}

.side-bar li .icon,
.side-bar li .text {
    color: #000;
    transition: var(--tran-03);
}

.side-bar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    transition: var(--tran-04);
}

.side-bar li a:hover {
    background: var(--primary-color);
}

.side-bar li a:hover .icon,
.side-bar li a:hover .text ,
.side-bar .active a .icon ,
.side-bar .active a .text 
{
    color: var(--sidebar-color);
}

.menu-bar .bottom-content .logout {
    position: relative;
    margin-top: 100px;
}

.nav-link.active {
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff !important;
}


.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.collapsed{
    transition: var(--tran-03);
    transform: translate(-110%);
}
